<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WG - MatchingKriterien Interessen</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../styles/style.css">
    <script src="http://www.w3schools.com/lib/w3data.js"></script>
</head>
<body>

<div class="container">
    <div w3-include-html="../parts/header.html"></div>
    <div class="row">
        <div class="p-sm-4"/>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-auto">
        <h1 style="color:#FFA500"> Registrierung Bewerber - Interessen </h1>
        <div class="p-2"/>
    </div>
</div>
<div class="container">

    <div class="col-xxl-6 offset-xxl-3 p-2 justify-content-center"
         style="background-color:#FFA500; border-radius: 10px;">
        <div class="col-xxl-8 offset-xxl-2 mr-5 justify-content-center">
            <div class="mb-2">Wie sehr interessierst Du Dich für folgende Dinge? <br/>
                1 = sehr wenig, 5 = sehr doll
            </div>
            <div class="d-inline my-1 mr-2">
                <div class="label-kriterien mt-2">Politik:</div>
                <label for="politik-1">1</label>
                <input class="col-1 me-2" type="radio" id="politik-1" name="politik" value=0>
                <label for="politik-2">2</label>
                <input class="col-1 me-2" type="radio" id="politik-2" name="politik" value=0.25>
                <label for="politik-3">3</label>
                <input class="col-1 me-2" type="radio" id="politik-3" name="politik" value=0.5>
                <label for="politik-4">4</label>
                <input class="col-1 me-2" type="radio" id="politik-4" name="politik" value=0.75>
                <label for="politik-5">5</label>
                <input class="col-1 me-2" type="radio" id="politik-5" name="politik" value=1>
            </div>
            <div class="d-inline my-1 mr-2">
                <div class="label-kriterien mt-2">Kultur:</div>
                <label for="kultur-1">1</label>
                <input class="col-1 me-2" type="radio" id="kultur-1" name="kultur" value=0>
                <label for="kultur-2">2</label>
                <input class="col-1 me-2" type="radio" id="kultur-2" name="kultur" value=0.25>
                <label for="kultur-3">3</label>
                <input class="col-1 me-2" type="radio" id="kultur-3" name="kultur" value=0.5>
                <label for="kultur-4">4</label>
                <input class="col-1 me-2" type="radio" id="kultur-4" name="kultur" value=0.75>
                <label for="kultur-5">5</label>
                <input class="col-1 me-2" type="radio" id="kultur-5" name="kultur" value=1>
            </div>
            <div class="d-inline my-1 mr-2">
                <div class="label-kriterien mt-2">Naturwissenschaften:</div>
                <label for="naturwissenschaften-1">1</label>
                <input class="col-1 me-2" type="radio" id="naturwissenschaften-1" name="naturwissenschaften" value=0>
                <label for="naturwissenschaften-2">2</label>
                <input class="col-1 me-2" type="radio" id="naturwissenschaften-2" name="naturwissenschaften" value=0.25>
                <label for="naturwissenschaften-3">3</label>
                <input class="col-1 me-2" type="radio" id="naturwissenschaften-3" name="naturwissenschaften" value=0.5>
                <label for="naturwissenschaften-4">4</label>
                <input class="col-1 me-2" type="radio" id="naturwissenschaften-4" name="naturwissenschaften" value=0.75>
                <label for="naturwissenschaften-5">5</label>
                <input class="col-1 me-2" type="radio" id="naturwissenschaften-5" name="naturwissenschaften" value=1>
            </div>
            <div class="d-inline my-1 mr-2">
                <div class="label-kriterien mt-2">Sport:</div>
                <label for="sport-1">1</label>
                <input class="col-1 me-2" type="radio" id="sport-1" name="sport" value=0>
                <label for="sport-2">2</label>
                <input class="col-1 me-2" type="radio" id="sport-2" name="sport" value=0.25>
                <label for="sport-3">3</label>
                <input class="col-1 me-2" type="radio" id="sport-3" name="sport" value=0.5>
                <label for="sport-4">4</label>
                <input class="col-1 me-2" type="radio" id="sport-4" name="sport" value=0.75>
                <label for="sport-5">5</label>
                <input class="col-1 me-2" type="radio" id="sport-5" name="sport" value=1>
            </div>
            <div class="d-inline my-1 mr-2">
                <div class="label-kriterien mt-2">Technik:</div>
                <label for="technik-1">1</label>
                <input class="col-1 me-2" type="radio" id="technik-1" name="technik" value=0>
                <label for="technik-2">2</label>
                <input class="col-1 me-2" type="radio" id="technik-2" name="technik" value=0.25>
                <label for="technik-3">3</label>
                <input class="col-1 me-2" type="radio" id="technik-3" name="technik" value=0.5>
                <label for="technik-4">4</label>
                <input class="col-1 me-2" type="radio" id="technik-4" name="technik" value=0.75>
                <label for="technik-5">5</label>
                <input class="col-1 me-2" type="radio" id="technik-5" name="technik" value=1>
            </div>
        </div>
    </div>
    <div class="d-flex col-xxl-6 offset-xxl-3">
        <a class="d-flex p-2 mt-3 mx-1 me-auto btn" href="register-bew-hobbies.html"
           style="background-color:#FFA500; color:white">Zurück
        </a>
        <a onclick="createHobbiesInteressen('interessen','/kriterien/bewerber', 'register-bew-account.html')"
           class="d-flex p-2 mt-3 mx-1 ml-auto btn"
           style="background-color:#FFA500; color:white">Weiter
        </a>
    </div>
</div>


<div w3-include-html="../parts/footer.html"></div>

<script>w3IncludeHTML();</script>
<script src="../../scripts/constants.js"></script>
<script src="../../scripts/helper.js"></script>
<script src="../../scripts/wg.js"></script>
</body>
</html>