<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bewerber - Angaben zur Person</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../styles/style.css">
    <script src="http://www.w3schools.com/lib/w3data.js"></script>
</head>
<body>

<div class="container">
    <div w3-include-html="../parts/header.html"></div>
    <div class="row">
        <div class="p-sm-4"/>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-auto">
        <h1 style="color:#FFA500"> Registrierung Bewerber - Angaben zu Dir </h1>
        <div class="p-2"/>
    </div>
</div>
<div class="container">
    <form id="bew-register-form-person">
        <div class="col-xxl-6 offset-xxl-3 p-2 justify-content-center"
             style="background-color:#FFA500; border-radius: 10px;">
            <div class="col-xxl-10 offset-xxl-1 mr-5 justify-content-center">
                <div class="form-group row my-1 mx-2">
                    <div class="col-6">
                        <input type="text" class="form-control" id="vorname" placeholder="Vorname"
                               name="vorname">
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" id="nachname" placeholder="Nachname"
                               name="nachname">
                    </div>
                </div>
                <div class="form-group row mt-4 mx-2">
                    <div class="mb-3">
                                        <textarea class="form-control" id="beschreibung" rows="4"
                                                  name="beschreibung"
                                                  placeholder="Schreib etwas über Dich!"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex col-xxl-6 offset-xxl-3">
            <a class="d-flex p-2 mt-3 mx-1 me-auto btn" href="/"
               style="background-color:#FFA500; color:white">Zurück
            </a>
            <a onclick="createEntity('bew-register-form-person', '/bewerber', 'register-bew-kriterien.html')"
               class="d-flex p-2 mt-3 mx-1 ml-auto btn"
               style="background-color:#FFA500; color:white">Weiter
            </a>
        </div>
    </form>
</div>


<div w3-include-html="../parts/footer.html"></div>

<script>w3IncludeHTML();</script>
<script src="../../scripts/constants.js"></script>
<script src="../../scripts/helper.js"></script>
<script src="../../scripts/wg.js"></script>
</body>
</html>