<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Header</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
</head>

<body>
<nav class="navbar navbar-expand fixed-top navbar-light" style="background-color: #FFA500;">
    <div class="container">
        <a class="navbar-brand" href="/"> <img src="../../resources/logo-white.png" width="202" height="54"
                                               class="align-top" alt=""></a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item px-2">
                <a class="nav-link btn btn-outline-light sr-only" style="color:white" href="/">
                    Home
                </a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link btn btn-outline-light sr-only" id="register" style="color:white" href="/">
                    Register
                </a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link btn btn-outline-light sr-only" id="login" style="color:white" href="/">
                    Login
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <div class="row">
        <div class="p-sm-5"/>
    </div>
</div>
</body>
</html>