<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Header</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
</head>

<body>
<nav class="navbar navbar-expand fixed-top navbar-light" style="background-color: #FFA500;">
    <div class="container">
        <a class="navbar-brand" href="/"> <img src="../../resources/logo-white.png" width="202" height="54"
                                               class="align-top" alt=""></a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <button class="btn btn-outline-light sr-only " style="color:white" disabled>Home</button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">
                    <button class="btn btn-outline-light sr-only " style="color:white" disabled>Login</button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">
                    <button class="btn btn-outline-light sr-only " style="color:white" disabled>Register</button>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <div class="row">
        <div class="p-sm-5"/>
    </div>
</div>
</body>
</html>