<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WG MatchingKriterien festlegen</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../styles/style.css">
    <script src="http://www.w3schools.com/lib/w3data.js"></script>
</head>
<body>

<div class="container">
    <div w3-include-html="../parts/header.html"></div>
    <div class="row">
        <div class="p-sm-4"/>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-auto">
        <h1 style="color:#FFA500"> Registrierung WG - Hobbies </h1>
        <div class="p-2"/>
    </div>
</div>
<div class="container">

    <div class="col-xxl-6 offset-xxl-3 p-2 justify-content-center"
         style="background-color:#FFA500; border-radius: 10px;">
        <div class="col-xxl-8 offset-xxl-2 mr-5 justify-content-center">
            <div class="mb-2">Wie gerne mögt Ihr folgende Hobbies und wie wichtig ist
                es euch, dass Euer zukünftiger Mitbewohner sie mag! <br/>
                1 = sehr wenig, 5 = sehr doll
            </div>
            <div class="d-inline my-1 mr-2">
                <div class="label-kriterien mt-2">Brettspiele:</div>
                <label for="brettspiele-1">1</label>
                <input class="col-1 me-2" type="radio" id="brettspiele-1" name="brettspiele" value=0>
                <label for="brettspiele-2">2</label>
                <input class="col-1 me-2" type="radio" id="brettspiele-2" name="brettspiele" value=0.25>
                <label for="brettspiele-3">3</label>
                <input class="col-1 me-2" type="radio" id="brettspiele-3" name="brettspiele" value=0.5>
                <label for="brettspiele-4">4</label>
                <input class="col-1 me-2" type="radio" id="brettspiele-4" name="brettspiele" value=0.75>
                <label for="brettspiele-5">5</label>
                <input class="col-1 me-2" type="radio" id="brettspiele-5" name="brettspiele" value=1>
            </div>
            <div class="d-inline my-1 mr-2">
                <div class="label-kriterien mt-2">Videospiele:</div>
                <label for="videospiele-1">1</label>
                <input class="col-1 me-2" type="radio" id="videospiele-1" name="videospiele" value=0>
                <label for="videospiele-2">2</label>
                <input class="col-1 me-2" type="radio" id="videospiele-2" name="videospiele" value=0.25>
                <label for="videospiele-3">3</label>
                <input class="col-1 me-2" type="radio" id="videospiele-3" name="videospiele" value=0.5>
                <label for="videospiele-4">4</label>
                <input class="col-1 me-2" type="radio" id="videospiele-4" name="videospiele" value=0.75>
                <label for="videospiele-5">5</label>
                <input class="col-1 me-2" type="radio" id="videospiele-5" name="videospiele" value=1>
            </div>
            <div class="d-inline my-1 mr-2">
                <div class="label-kriterien mt-2">Lesen:</div>
                <label for="lesen-1">1</label>
                <input class="col-1 me-2" type="radio" id="lesen-1" name="lesen" value=0>
                <label for="lesen-2">2</label>
                <input class="col-1 me-2" type="radio" id="lesen-2" name="lesen" value=0.25>
                <label for="lesen-3">3</label>
                <input class="col-1 me-2" type="radio" id="lesen-3" name="lesen" value=0.5>
                <label for="lesen-4">4</label>
                <input class="col-1 me-2" type="radio" id="lesen-4" name="lesen" value=0.75>
                <label for="lesen-5">5</label>
                <input class="col-1 me-2" type="radio" id="lesen-5" name="lesen" value=1>
            </div>
            <div class="d-inline my-1 mr-2">
                <div class="label-kriterien mt-2">Sport:</div>
                <label for="sport-1">1</label>
                <input class="col-1 me-2" type="radio" id="sport-1" name="sport" value=0>
                <label for="sport-2">2</label>
                <input class="col-1 me-2" type="radio" id="sport-2" name="sport" value=0.25>
                <label for="sport-3">3</label>
                <input class="col-1 me-2" type="radio" id="sport-3" name="sport" value=0.5>
                <label for="sport-4">4</label>
                <input class="col-1 me-2" type="radio" id="sport-4" name="sport" value=0.75>
                <label for="sport-5">5</label>
                <input class="col-1 me-2" type="radio" id="sport-5" name="sport" value=1>
            </div>
            <div class="d-inline my-1 mr-2">
                <div class="label-kriterien mt-2">Reisen:</div>
                <label for="reisen-1">1</label>
                <input class="col-1 me-2" type="radio" id="reisen-1" name="reisen" value=0>
                <label for="reisen-2">2</label>
                <input class="col-1 me-2" type="radio" id="reisen-2" name="reisen" value=0.25>
                <label for="reisen-3">3</label>
                <input class="col-1 me-2" type="radio" id="reisen-3" name="reisen" value=0.5>
                <label for="reisen-4">4</label>
                <input class="col-1 me-2" type="radio" id="reisen-4" name="reisen" value=0.75>
                <label for="reisen-5">5</label>
                <input class="col-1 me-2" type="radio" id="reisen-5" name="reisen" value=1>
            </div>
            <div class="d-inline my-1 mr-2">
                <div class="label-kriterien mt-2">Feiern Gehen:</div>
                <label for="feiernGehen-1">1</label>
                <input class="col-1 me-2" type="radio" id="feiernGehen-1" name="feiernGehen" value=0>
                <label for="feiernGehen-2">2</label>
                <input class="col-1 me-2" type="radio" id="feiernGehen-2" name="feiernGehen" value=0.25>
                <label for="feiernGehen-3">3</label>
                <input class="col-1 me-2" type="radio" id="feiernGehen-3" name="feiernGehen" value=0.5>
                <label for="feiernGehen-4">4</label>
                <input class="col-1 me-2" type="radio" id="feiernGehen-4" name="feiernGehen" value=0.75>
                <label for="feiernGehen-5">5</label>
                <input class="col-1 me-2" type="radio" id="feiernGehen-5" name="feiernGehen" value=1>
            </div>
            <div class="d-inline my-1 mr-2">
                <div class="label-kriterien mt-2">Musizieren:</div>
                <label for="musizieren-1">1</label>
                <input class="col-1 me-2" type="radio" id="musizieren-1" name="musizieren" value=0>
                <label for="musizieren-2">2</label>
                <input class="col-1 me-2" type="radio" id="musizieren-2" name="musizieren" value=0.25>
                <label for="musizieren-3">3</label>
                <input class="col-1 me-2" type="radio" id="musizieren-3" name="musizieren" value=0.5>
                <label for="musizieren-4">4</label>
                <input class="col-1 me-2" type="radio" id="musizieren-4" name="musizieren" value=0.75>
                <label for="musizieren-5">5</label>
                <input class="col-1 me-2" type="radio" id="musizieren-5" name="musizieren" value=1>
            </div>
    </div>
</div>
<div class="d-flex col-xxl-6 offset-xxl-3">
    <a class="d-flex p-2 mt-3 mx-1 me-auto btn" href="register-wg-angaben.html"
       style="background-color:#FFA500; color:white">Zurück
    </a>
    <a onclick="createHobbies('wg-register-form-kriterien', '/kriterien/wg')"
       class="d-flex p-2 mt-3 mx-1 ml-auto btn"
       style="background-color:#FFA500; color:white">Weiter
    </a>
</div>
</div>


<div w3-include-html="../parts/footer.html"></div>

<script>w3IncludeHTML();</script>
<script src="../../scripts/constants.js"></script>
<script src="../../scripts/helper.js"></script>
<script src="../../scripts/wg.js"></script>
</body>
</html>